<form class="form-signin">
  <h2 class="form-signin-heading">Please sign in</h2>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="text" id="inputEmail" class="form-control" placeholder="User name" required autofocus ng-model="authUser.username">
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="authUser.password">
  <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()" >Sign in</button>
</form>
