<div class="row">
  <h4 class="col-sm-9 col-xs-12">みんなのBGM</h4>
  <div class="col-sm-3 col-xs-12">
    <button type="button" ng-click="shuffle()" class="pull-right btn btn-default">Shuffle</button>
  </div>
</div>

<p>お気に入り登録数の多いBGMです</p>


<div ng-show="showVideoDiv" class="dn-fade">
  <div class="row">
    <p class="col-sm-8 col-xs-12">再生中: {{playingTitle}}</p>
    <div class="col-sm-4 col-xs-12" id="watch-video">
      <button type="button" ng-click="videoToggle()" class="pull-right btn btn-info">Watch video</button>
    </div>
  </div>
  <div class="embed-responsive embed-responsive-16by9 video-wrapper dn-bounce" ng-show="showVideo">
    <youtube-video class="embed-responsive-item" video_id="videoId" player="embedPlayer" player-vars="playerVars"><youtube-video>
  </div>
  <div class="row center-block" id="playAndPause">
    <button type="button" ng-disabled="prevDisabled" ng-click="prevVideo()" class="col-sm-3 col-xs-12 btn btn-default">Prev</button>
    <button type="button" ng-disabled="playDisabled" ng-click="embedPlayer.playVideo()" class="col-sm-3 col-xs-12 btn btn-primary">Play</button>
    <button type="button" ng-disabled="pauseDisabled" ng-click="embedPlayer.pauseVideo()" class="col-sm-3 col-xs-12 btn btn-default">Pause</button>
    <button type="button" ng-disabled="nextDisabled" ng-click="nextVideo()" class="col-sm-3 col-xs-12 btn btn-default">Next</button>
  </div>
</div>


<div class="list-group dn-fade-left" ng-repeat="video in videos">
  <a ng-class="{active: isActive($index)}" ui-sref=".play({videoId: video.videoId})" ng-click="playVideo(video.videoId, video.title, $index)" class="list-group-item searched-list">
    <div class="row">
      <h2 class="col-sm-1 col-xs-12">{{$index+1}} 位</h2>
      <img class="img-responsive img-thumbnail col-sm-3 col-xs-12" ng-src="{{video.mediumThumbnail.url}}">
      <p class="col-sm-3 col-xs-12">{{video.title}}</p>
      <button type="button" ng-click="addStar(video.videoId); $event.stopPropagation();" class="col-sm-1 pull-right btn btn-default"><span class="fa fa-star-o" id="option-button"></span></button>
    </div>
  </a>
</div>
