<div ng-show="showVideoDiv" class="dn-fade">
  <div class="row">
    <div class="col-sm-8 col-xs-12">
      <p>再生中: {{playingTitle}}</p>
      <p ng-show="showArtist">アーティスト: {{artistName}}</p>
    </div>
    <div class="col-sm-4 col-xs-12" id="watch-video">
      <button type="button" ng-click="videoToggle(showVideo)" class="pull-right btn btn-info">Watch video</button>
    </div>
  </div>
  <div class="embed-responsive embed-responsive-16by9 video-wrapper dn-bounce" ng-show="showVideo">
    <youtube-video class="embed-responsive-item" video_id="videoId" player="embedPlayer" player-vars="playerVars"></youtube-video>
  </div>
  <div class="row center-block" id="playAndPause">
    <button type="button" ng-disabled="playDisabled" ng-click="embedPlayer.playVideo()" class="col-sm-3 col-xs-12 btn btn-primary">Play</button>
    <button type="button" ng-disabled="pauseDisabled" ng-click="embedPlayer.pauseVideo()" class="col-sm-3 col-xs-12 btn btn-default">Pause</button>
  </div>
</div>

